<div class="main-box">
  <table class="index">
    <thead>
      <tr>
        <th style="width:20%"><%= t("gws/schedule.calendars.header.name") %></th>
        <th><%= t("gws/schedule.calendars.header.text") %></th>
      </tr>
    </thead>
    <tbody>
      <% @model.calendar_models.each do |item| %>
      <tr>
        <td><%= link_to item[:name], action: :new, calendar_model: item[:type] %></td>
        <td><%= item[:text] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
