<div class="gws-addon-history">
  <table class="index">
    <thead>
    <tr>
      <th style="width: 80px">区分</th>
      <th style="width: 140px">変更日時</th>
      <th>ユーザー</th>
      <th>電話番号</th>
      <th>ファイル名</th>
      <th>サイズ</th>
      <th>添付</th>
      <th>変更内容</th>
    </tr>
    </thead>
    <tbody>
    <tr id="history-4">
      <td>登録</td>
      <td>2019/10/03 17:12</td>
      <td>サイト管理者 (admin)</td>
      <td></td>
      <td>2019年1月号表紙</td>
      <td>9.04KB</td>
      <td>
        <a class="btn" href="/.g1/share/-/files/130/download_history?history_id=4">ダウンロード</a>
      </td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>
</div>
