/**
 *= require jquery.datetimepicker
 */

@import "compass-mixins/lib/compass";
@import "ss/init";

// -------------------------------------------------------------------------------------------------
// preview

#ss-preview-cover {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
}
#ss-preview {
  background-color: rgb(242, 242, 242);
  @include box-shadow(0px 1px 5px #666);
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 5001;

  .ss-preview-btn-group {
    display: inline-block;
  }

  .ss-preview-btn-group ~ .ss-preview-btn-group {
    margin-left: 8px;
  }

  .ss-preview-hide {
    display: none;
  }

  .ss-preview-active {
    border: 1px solid green;
  }
}
//.preview-part {
//  position: absolute;
//  @include box-sizing(border-box);
//  display: inline-block;
//  background: rgba(0,0,0,0.5);
//  text-decoration: none;
//  text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff;
//  z-index: 5000;
//}
.ss-preview-hide {
  display: none;
}

#ss-preview-overlay {
  position: absolute;
  border: 3px solid $gray5;
  @include border-radius(2px);

  .ss-preview-btn-edit-part {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#ss-preview-content-begin {
  display: block;
  margin: 0;
  padding: 8px;
  background-color: rgb(242, 242, 242);
  @include box-shadow(0px 1px 5px #666);

  &.ss-preview-hide {
    display: none;
  }
}
