<% return "" unless @item.opendata_dataset_state.present? %>
<% return "" if @item.opendata_dataset_state == 'none' %>
<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<%= f.ss_field_set :opendata_dataset_state, value: @item.label(:opendata_dataset_state), disabled: true%>
<%= f.ss_field_set :opendata_dataset_ids, disabled: true do %>
  <div id="item_opendata_dataset_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.opendata_datasets.pluck(:name).each do |opendata_dataset_name| %>
      <tr>
        <td><%= opendata_dataset_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
