<ul class="main-navi">
  <li><%= link_to t('gws.portal'), "#{pico_portal_path}/", class: "icon-portal" %></li>
  <li><%= link_to t('mongoid.models.gws/reminder'), gws_reminders_path, class: "icon-reminder" %></li>
</ul>
