<div class="index">
  <%= ss_stimulus_tag({ "cms--nodes" => { end_point: cms_v2_nodes_path(format: :json), mobile_enabled: @cur_site.mobile_enabled? } }, { class: "cms--nodes" }) do %>
    <%= button_tag "Auto-Size", name: "auto-size", type: "button", class: "btn", disabled: true %>
    <div class="cms--nodes-table ag-theme-alpine" style="height: 500px">
      <%= loading %>
    </div>

    <footer class="footer hide">
      <%= button_tag t("ss.buttons.save"), type: "button", class: "btn btn-primary", data: { action: "cms--nodes#save" } %>
      <p>未保存の変更があります。別のページへ移動する前に必ず保存してください。</p>
    </footer>
  <% end %>
</div>
