<div class="index">
  <%= ss_stimulus_tag "cms--nodes" => { end_point: cms_v2_nodes_path(format: :json) } do %>
    <div class="cms--nodes-table ag-theme-alpine" style="height: 500px">
      <%= loading %>
    </div>
  <% end %>
</div>
