<% return "" if @item.opendata_dataset_group_ids.blank? %>
<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<%= f.ss_field_set :opendata_dataset_group_ids, disabled: true do %>
  <div id="item_opendata_dataset_group_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <% @item.opendata_dataset_groups.pluck(:name).each do |opendata_dataset_group_name| %>
      <tr>
        <td><%= opendata_dataset_group_name %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
