<div id="addon-navi" class="fixed-navi hide">
  <div class="wrap">
    <ul class="nav flex-column">
    </ul>
    <nav class="col">
    </nav>
  </div>

  <script type="text/html" class="menu-template">
    <li class="nav-item"><a class="nav-link" href="#href" data-target="#id"><span>#name</span></a></li>
  </script>
</div>


<%= jquery do %>
  new SS_AddonNavi();
<% end %>
